.elements{
    max-width: 882px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit,282px);
    grid-row-gap: 21px;
    grid-column-gap:18px;
}
@media all and (max-width: 881px) {
    .elements{
        max-width: 582px;
    }
} 
@media all and (max-width: 881px) {
    .elements{
        max-width: 582px;
    }
} 

@media all and (max-width: 582px) {
    .elements{
        max-width:320px;
        padding-left: 30px;
    }
} 
@media all and (max-width: 320px) {
    .elements{
        max-width:none;
        padding: 0 19px;
    }
} 