.popup__form{
    box-sizing: border-box;
    padding: 35px;
    margin: 0;
    background: #FFFFFF;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
@media all and (max-width: 500px) {
    .popup__form{
        padding: 30px 20px;
    }
} 