.popup__input-container{
    padding: 40px 0;
    margin: 0;
    box-sizing: border-box;
    border: 0;
}
@media all and (max-width: 500px) {
    .popup__input-container{
        padding: 25px 0;
    }
} 