.navbar__register {
  text-decoration: none;
  color: white;
  font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}
.navbar__container{
  color: white;
}

.navbar__button{
  margin-left: 20px;
  border:none;
  background-color: transparent;
  color: white;
}
